<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <div>
                <label>아이디</label>
                <input type="text" name="userid">
            </div><p></p>
            <div>
                <label>비밀번호</label>
                <input type="text" name="userpw">
            </div><p></p>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>